@font-face {
  font-family: 'F1'; src: url("F1.woff2") format("woff2"), url("F1.woff2") format("woff");
}

@font-face {
  font-family: 'F1Bold'; src: url("F1Bold.woff2") format("woff2"), url("F1Bold.woff2") format("woff");
}

@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #005fd1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
